
i.icon {
	font-size: 2em;
}

.container.main {
	margin-top: 7.0em;
}

#delete {
	display: inline;
}
/* #formdiv {
	width: 30%;
	margin: 25px auto;
}

i.icon {
font-size: 2em;
}

.gridfix {
	display: flex;
	flex-wrap: wrap;
} */
/* div {
	margin: 20px 0;
} */

/* img {
	width: 500px;
	height: auto;
} */

